*{
    margin:0;
    padding:0;
}
body{
  font-family: "Gabarito", sans-serif;
}
.navbar{
  padding:10px;
  display:flex;
  gap:10px;
  justify-content:space-between;
  border-bottom: solid black 1px;
  align-items: center;
}
.navbar_s1_title
{
  color:rgb(183, 30, 175);
}
.navbar_s2
{
  padding:10px;
  border:solid black 1px;
  border-radius: 30px;
  width: 60%;
  display:flex;
  gap:10px;
  align-items: center;
}
.navbar_s2 input{
  border:none;
  width:100%;
  font-size: 16px;
}
.navbar_s2 input:focus/* whenever it get focus outline is none*/
{
  outline:none;
}
.navbar_s3
{
  display:flex;
  gap:10px;
  align-items: center;
}
.catergories
{
  display:flex;
  padding:10px;
  border-bottom: solid black 1px;
  justify-content: space-around;
}
.catergories p{
  background-color: purple;
  color:white;
  border-radius:30px;
  padding:10px;
}
.sale-image img
{
  width:100%
}
.recommended
{
  padding:10px;
}
.recommended-container
{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  margin-top:10px;
}
.course-card{
  width:250px;
}
.course-card img{
  width:100%;
  height:50%;
}
.topics
{
  padding:20px;
}
.topics_container
{
  display:flex;
  gap:10px;
  margin-top:10px;
  flex-wrap: wrap;
}
.topics_container p{
  border:solid gray 2px;
  padding:10px;
  flex-grow:1;
  flex-basis:25%;
}
.popular
{
  padding:10px;
}
.popular_container
{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  margin-top:10px;
}
.footer_one{
  padding:30px;
  background-color: black;
  color:white;
}
.footer_one{
  display:flex;
  gap:10px;
}
.footer_two
{
  display:flex;
  justify-content: space-between;
}
.footer_one p{
  margin:20px;
}
.footer_two{
  margin:20px;
  align-items: center;
}

